// Extra small screen / phone
$screen-xs-min:              480px;

// Small screen / tablet
$screen-sm-min:              640px;

// Medium screen / desktop
$screen-md-min:              960px;

// Large screen / wide desktop
$screen-lg-min:              1280px;

// Xtra Large screen width
$screen-xl-min:              1680px;
