.card {
    @extend .app-col-xs-12;
    @extend .app-col-sm-6;
    @extend .app-col-md-4;

    text-align: center;
    overflow: hidden;
    border: 1px solid $light-grey;

    .card-image {
        background-position: center;
        background-size: cover;
    }


    .card-desc {
        h2 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
        }

        p {
            padding: 2px 10px 26px 10px;
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 24px;
            color: $text-color;
            max-width: 350px;
            margin: 0 auto;
        }
    }
}
