.menu {
    height: 50px;
    .menu-nav {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
        font-size: 16px;
        line-height: 1.5em;
        width: 100%;

        .left-nav {
            display: table;
            position: relative;
            top: -1px;
            left: 0px;

            .left-nav-item {
                display: inline-block;
                vertical-align: middle;
            }
        }

    }
}
