$text-color: #8D8D8D;
$red-color: #c02f04;
$blue-color: #18659b;
$color3: #6ad0c1;

.hero-p1 {
    height: 600px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $red-color;
    width: 100%;

    .p1-title {
        background-color: $blue-color;
        color: $text-color;
        font-family: "verdana";
    }
}
