.hero-p1 {

    .p1-title {
        background-color: $dark-blue;
        color: $text-color;
        font-family: "verdana";
    }

    .p1-image {
        height: 600px;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $red;
        width: 100%;
    }
}
