.hero-p1 {

    .p1-title {
        background-color: $dark-blue;
        color: $text-color;
        font-family: "verdana";
    }

    .p1-image {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $red;
        width: 100%;

        @media (min-width: $screen-sm-min) {
            height: 600px;
        }

        @media (max-width: $screen-xs-min) {
            height: 400px;
        }
    }
}
